/* main.css*/

body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Arial, sans-serif;
    color: #E5E7EB;
    
}

p {
    margin: 0;
    
}

a {
    text-decoration: none; 
}

a:active, a:visited, a:link {
    color: #E5E7EB;
}

a:hover {
    color: #595959;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    padding: 2px 16px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-size: 12px;
  }

/* Header, Footer & Title Section */
.header, 
.footer {
    background-color:#1F2937;
    display:flex;
    padding: 30px 100px;
    align-items: center;
}

.header {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.title {
    font-weight: 900;
}

.nav {
    font-size: 14px;
}

.footer {
    justify-content: center;
}

p.copyright {
    font-size: 10px;
}


/* First Section - Company and service description */
.info { /* main container*/
    background-color:#1F2937;
    color: #F9FAF8;
    display: flex;
    gap: 30px;
    padding: 30px 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.info2 { /*description*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 340px;
    max-width: 470px;
 }

.service_title {
    font-size: 28px;
    font-weight: bolder;
}

.first_image img {
    width: 420px;
    height: 200px;
}


  
button.sign_up_1 {
    border: 1px solid #3882F6;
    align-self: flex-start;
  }

/* Second Section */

.second_title {
    text-align: center;
    margin-bottom: 32px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.services { 
    display:flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    padding: 0 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    max-width: 150px;
}

.text {
    max-width: 200px;
    text-align: center;
    color:#1F2937;
    font-size: 12px;
}

/* Third Section - Quote */
.third {
    background-color: #E5E7EB;
    color: #76777a;
    display: flex;
    flex-direction: column;
    padding: 80px 200px;
}

.quote {
    font-style:italic;
    font-size: 20px;
    /* width: 800px; */
}

.author {
    font-weight:bold;
    align-self: flex-end;
}

/* Forth Section */
.forth {
    border-radius: 5px;
    background-color: #3882F6;
    margin: 80px 100px;
    padding: 30px 80px;
    min-width: 180px;
}

.call_action {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.action, .call {
    color: white;
}

.action {
    flex-direction: column;
    font-size: 12px;
    min-width: 180px;
}

.call {
    font-size: 8px;
}

.button2 {
    flex-shrink: 0;
}

button.sign_up_2 {
    border: 1px solid white;  
}